Forbes Richest Atheletes (Forbes Richest Athletes 1990-2020)

In [ ]:
import pandas as pd
df_forbes = pd.read_csv('/content/Forbes Richest Atheletes (Forbes Richest Athletes 1990-2020).csv')

df_forbes

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0
...,...,...,...,...,...,...,...,...
296,297,Stephen Curry,USA,6,9,Basketball,2020,74.4
297,298,Kevin Durant,USA,7,10,Basketball,2020,63.9
298,299,Tiger Woods,USA,8,11,Golf,2020,62.3
299,300,Kirk Cousins,USA,9,>100,American Football,2020,60.5
300,301,Carson Wentz,USA,10,>100,American Football,2020,59.1

In [ ]:
print(df_forbes.info())
print(df_forbes.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   S.NO                  301 non-null    int64
 1   Name                  301 non-null    object
 2   Nationality           301 non-null    object
 3   Current Rank          301 non-null    int64
 4   Previous Year Rank    277 non-null    object
 5   Sport                 301 non-null    object
 6   Year                  301 non-null    int64
 7   earnings ($ million)  301 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 18.9+ KB
None
             S.NO  Current Rank         Year  earnings ($ million)
count  301.000000    301.000000   301.000000            301.000000
mean   151.000000      5.448505  2005.122924             45.516279
std     87.035433      2.850995     9.063563             33.525337
min      1.000000      1.000000  1990.000000              8.100000
25%     76.000000      3.000000  1997.000000             24.000000
50%    151.000000      5.000000  2005.000000             39.000000
75%    226.000000      8.000000  2013.000000             59.400000
max    301.000000     10.000000  2020.000000            300.000000

In [ ]:
print(df_forbes.isnull().sum())

S.NO                     0
Name                     0
Nationality              0
Current Rank             0
Previous Year Rank      24
Sport                    0
Year                     0
earnings ($ million)     0
dtype: int64

In [ ]:
#Top Earners by Year
top_earners_by_year = df_forbes.loc[df_forbes.groupby('Year')['earnings ($ million)'].idxmax()]

print(top_earners_by_year)

     S.NO                Name  Nationality  Current Rank Previous Year Rank  \
0       1          Mike Tyson          USA             1                NaN
10     11   Evander Holyfield          USA             1                  8
20     21      Michael Jordan          USA             1                  3
30     31      Michael Jordan          USA             1                  1
40     41      Michael Jordan          USA             1                  1
50     51      Michael Jordan          USA             1                  1
60     61          Mike Tyson          USA             1                  2
70     71      Michael Jordan          USA             1                  2
80     81      Michael Jordan          USA             1                NaN
90     91  Michael Schumacher      Germany             1                  2
100   101  Michael Schumacher      Germany             1                  1
110   111         Tiger Woods          USA             1                  2
121   122         Tiger Woods          USA             1                  1
131   132         Tiger Woods          USA             1                  1
141   142         Tiger Woods          USA             1                  1
151   152         Tiger Woods          USA             1                  1
161   162         Tiger Woods          USA             1                  1
171   172         Tiger Woods          USA             1                  1
181   182         Tiger Woods          USA             1                  1
191   192         Tiger Woods          USA             1                  1
201   202         Tiger Woods          USA             1                  1
211   212    Floyd Mayweather          USA             1                  ?
221   222         Tiger Woods          USA             1                  3
231   232    Floyd Mayweather          USA             1                 14
241   242    Floyd Mayweather          USA             1                  1
251   252   Cristiano Ronaldo     Portugal             1                  3
261   262   Cristiano Ronaldo     Portugal             1                  1
271   272    Floyd Mayweather          USA             1               >100
281   282        Lionel Messi    Argentina             1                  2
291   292       Roger Federer  Switzerland             1                  5

           Sport  Year  earnings ($ million)
0         boxing  1990                  28.6
10        boxing  1991                  60.5
20    Basketball  1992                  35.9
30    Basketball  1993                  36.0
40    Basketball  1994                  30.0
50    basketball  1995                  43.9
60        Boxing  1996                  75.0
70    Basketball  1997                  78.3
80    Basketball  1998                  69.0
90   Auto Racing  1999                  49.0
100  Auto Racing  2000                  59.0
110         Golf  2002                  69.0
121         Golf  2003                  78.0
131         golf  2004                  80.3
141         golf  2005                  87.0
151         golf  2006                  90.0
161         golf  2007                 100.0
171         golf  2008                 115.0
181         golf  2009                 110.0
191         golf  2010                 105.0
201         golf  2011                  75.0
211       Boxing  2012                  85.0
221         Golf  2013                  78.1
231       Boxing  2014                 105.0
241       Boxing  2015                 300.0
251       Soccer  2016                  88.0
261       Soccer  2017                  93.0
271       Boxing  2018                 285.0
281       Soccer  2019                 127.0
291       Tennis  2020                 106.3

In [ ]:

most_common_sports = df_forbes['Sport'].value_counts()#Earnings Trend Over Time
earnings_trend = df_forbes.groupby('Year')['earnings ($ million)'].sum()

print(earnings_trend)

Year
1990     128.0
1991     183.5
1992     158.7
1993     178.3
1994     148.9
1995     229.1
1996     273.1
1997     338.1
1998     281.4
1999     357.5
2000     338.5
2002     356.0
2003     375.0
2004     407.4
2005     406.2
2006     431.0
2007     421.0
2008     483.0
2009     476.0
2010     513.7
2011     448.8
2012     543.1
2013     552.5
2014     642.4
2015     950.3
2016     635.2
2017     623.7
2018    1059.4
2019     941.4
2020     819.2
Name: earnings ($ million), dtype: float64

In [ ]:
#Nationality Analysis
nationality_counts = df_forbes['Nationality'].value_counts()

print(nationality_counts)

Nationality
USA                 206
UK                   13
Germany              13
Switzerland          12
Portugal             10
Brazil                9
Argentina             9
Canada                6
Italy                 4
Finland               3
France                3
Philippines           3
Russia                1
Australia             1
Dominican             1
Austria               1
Filipino              1
Spain                 1
Serbia                1
Northern Ireland      1
Ireland               1
Mexico                1
Name: count, dtype: int64

In [ ]:
#Rank Changes
df_forbes['Rank Change'] = pd.to_numeric(df_forbes['Previous Year Rank'], errors='coerce').fillna(0).astype(int) - pd.to_numeric(df_forbes['Current Rank'], errors='coerce').fillna(0).astype(int)
# Use pd.to_numeric to handle non-numeric values, setting them to NaN with errors='coerce'
# Fill NaN values with 0 before converting to integers

print(df_forbes[['Name', 'Year', 'Rank Change']])

                  Name  Year  Rank Change
0           Mike Tyson  1990           -1
1       Buster Douglas  1990           -2
2    Sugar Ray Leonard  1990           -3
3         Ayrton Senna  1990           -4
4          Alain Prost  1990           -5
..                 ...   ...          ...
296      Stephen Curry  2020            3
297       Kevin Durant  2020            3
298        Tiger Woods  2020            3
299       Kirk Cousins  2020           -9
300       Carson Wentz  2020          -10

[301 rows x 3 columns]